@page "/counter"

<h1>Felanmälan</h1>

<p>Antal felanmälningar: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Anmäl</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
