@page "/"

<AuthorizeView>
    <Authorized>
        <h1>Välkommen, @context.User.Identity.Name.</h1>
    </Authorized>
    <NotAuthorized>
        <h1>.. ... ...</h1>
        <p>...</p>
        <Login></Login>
    </NotAuthorized>
</AuthorizeView>
