@inject IAuthService AuthService
@implements IDisposable

<AuthorizeView>
    <Authorized>
        <div class="top-menu">
            <span class="popover-header">
                
            </span>
        </div>
    </Authorized>
    <NotAuthorized>
        <div>
            <NavLink href="">Logga in</NavLink>
            <NavLink href="register">Skapa konto</NavLink>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code {
    private AppUser AppUser { get; set; }

    protected override void OnInitialized()
    {
        //GoldService.OnChange += StateHasChanged;
        //AppUser = await AuthService.GetCurrentAppUser();
    }

    public void Dispose()
    {
        //GoldService.OnChange -= StateHasChanged;
        //AppUser = await AuthService.GetCurrentAppUser();
    }

}
